.app {
    display: flex;
    flex-direction: column;
    background: var(--white200);
}

body {
    width: 1440px;
    height: 1476px;
}

/* MEDIA QUERIE */
@media (max-width: 650px) {
    body {
        width: 425px;
        height: 1370px;
    }
}